<div class="container">
    <h1>{{tour[0].name}}</h1>


    <div class="thumbnail-layout">
        <img class="img" [src]="tour[0].thumbnail" alt="">

        <img class="img-topleft" [src]="tour[0].thumbnail" alt="">

        <img class="img-bottomright" [src]="tour[0].thumbnail" alt="">


    </div>

    <div>
        <h3>Description</h3>
        <p>{{tour[0].description}}</p>
    </div>


    <div class="container">

        <button class="back-btn" (click)="goBack()">
            <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
            Previous Page
        </button>

        <div class="hero">
            <h1>{{tour[0].name}}</h1>
            <p> Luxury, Comfort, and Reliability </p>
        </div>

        <div class="section">
            <div>
                <h1>What's Included?</h1>
                <ul>
                    <li>Professional Chauffeur Service: Our experienced and courteous chauffeurs will ensure a safe and comfortable journey to and from the airport.</li>
                    <li>Luxury Vehicles: Travel in style with our fleet of high-end vehicles, including sedans, SUVs, and limousines, all equipped with modern amenities for your comfort.</li>
                    <li>24/7 Availability: We understand that flight schedules can be unpredictable, which is why our VIP airport transfer service is available around the clock to accommodate your needs.</li>
                    <li>Flight Monitoring: We keep track of your flight status to ensure timely pickups and drop-offs, even in the case of delays or early arrivals.</li>
                    <li>Personalized Service: Whether you need assistance with luggage or have specific preferences for your ride, our team is dedicated to providing a personalized experience tailored to your requirements.</li>
                </ul>
            </div>
        
            
            <div class="section">
                <div>
                    <h1>Meeting And Pickup</h1>
                    <p>Our chauffeurs will meet you at the airport with a personalized sign, assist you with your luggage, and ensure a smooth transition to your luxury vehicle for a comfortable ride to your destination.</p>
                </div>


              <div class="cta">
                <button>Book Now</button>
              </div>  
    </div>

    <a
        class="whatsapp-float"
        href="getWhatsappLink()"
        target="_blank"
    >
    </a>




    <a class="whatsapp-float" href="https://wa.me/12687884966" target="_blank">
        <span nz-icon nzType="whatsapp" nzTheme="outline"></span>
        
    </a>

</div>