<div class="container">
    <h1>{{taxi?.name}}</h1>


    <div class="thumbnail-layout">
        <img class="img" [src]="taxi?.thumbnail" alt="">

        <img class="img-topleft" [src]="taxi?.thumbnail" alt="">

        <img class="img-bottomright" [src]="taxi?.thumbnail" alt="">


    </div>

    <div>
        <h3>Description</h3>
        <p>{{taxi?.description}}</p>
    </div>


    <div class="container">

        <button class="back-btn" (click)="goBack()">
            <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
            Previous Page
        </button>

        <div class="hero">
            <h1>{{taxi?.name}}</h1>
            <p> Luxury, Comfort, and Reliability </p>
        </div>

        <div class="section">
            <div>
                <h1>What's Included?</h1>
                <ul>

                    @for (item of taxiOptions; track item) {
                    <li> {{item?.label}}</li>
                    }

                </ul>
            </div>


            <div class="section">
                <div>
                    <h1>Meeting And Pickup</h1>
                    <p>Our chauffeurs will meet you at the airport with a personalized sign, assist you with your
                        luggage, and ensure a smooth transition to your luxury vehicle for a comfortable ride to your
                        destination.</p>
                </div>


                <div class="cta">
                    <button routerLink="../../booking">Book Now</button>
                </div>
            </div>


            <app-map [lat]="taxi.lat" [lng]="taxi.lng">
            </app-map>

        </div>