.container {
    display: flex;
    flex-direction: column;

    margin-top: 50px;
    margin-left: 30px;
}

.text-tag {
    font-family: monospace;
    font-weight: 600;

    font-size: large;

    color: rgb(0, 102, 191);

    line-height: 0;
}




.section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 10px;
    margin-bottom: 50px;

    padding-bottom: 25px;
    width: 100%;

    animation-name: scroll;
    animation-timeline: view();
    animation-duration: 3s;
    animation-range: entry 5%;
    
}

@keyframes scroll {
    from {
        opacity: 0;
        transform: translateY(150px);
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
    
}

.card.reverse {
    flex-direction: row-reverse;
    width: 100%;
}


.img {

    object-fit: fill;
    margin-bottom: 10px;
    width: 40%;

    height: 100%;

    border-radius: 10px;

    background-color: rgb(190, 190, 190);
}

.button {
    transition: 0.5s;
    border: none;
    border-radius: 10px;
}

.see-more-button {
    transition: 0.3s;

    width: 150px;
    height: 40px;

    font-size: large;
    color: white;

    background-color: rgb(95, 177, 255);
}

.see-more-button:hover {
    transition: 0.3s;

    width: 150px;
    height: 40px;

    font-size: large;
    color: white;

    background-color: rgb(17, 120, 217);
}


.see-more-button:hover {
    cursor: pointer;
    transition: 0.3s;

    font-size: large;
}

.bubble {
    background-color: rgb(191, 220, 245);
    padding: 5px 15px;
    
    width: max-content;
    height: 5px;

    font-family: monospace;

    border-radius: 10px;

    font-weight: 600;
}