.container {
    display: flex;
    flex-direction: column;

    margin-left: 30px;
}


.card {

    margin: 10px 10px 50px 10px;
    width: 350px;

}

.section {
    display: grid;
    grid-template-columns: auto auto auto;
}

.img {

    object-fit: fill;
    margin-bottom: 10px;
    width: 350px;
    
    height: 190px;

    border-radius: 10px;
    
    background-color: rgb(190, 190, 190);
}

.button {
    transition: 0.5s;
    border: none;
    border-radius: 10px;
}

.see-more-button {
    transition:  0.3s;

    width: 150px;
    height: 40px;

    font-size: large;

    
    background-color: rgb(255, 212, 19);
}


.see-more-button:hover {
    cursor: pointer;
    transition:  0.3s;
    background-color: rgb(216, 178, 9);

    font-size: large;
}