<div>
  <app-slider></app-slider>
</div>

<div class="page">

  <app-search-filter></app-search-filter>

  <h4 class="results-text">Showing {{tours.length}} results</h4>

  <div class="grid">

    @for (tour of tours; track tour) {
    <div class="card">

      <!-- IMAGE -->
      <div class="image-wrapper">
        <img class="image-banner" [src]="tour?.thumbnail" [alt]="tour.name">
      </div>

      <!-- CONTENT -->
      <div class="card-body">

        <h2 class="title">{{tour.name}}</h2>

        <p class="desc">
          {{tour.description}}
        </p>

        <!-- FOOTER -->
        <div class="card-footer">

          <div class="rating">
            <span nz-icon nzType="star" nzTheme="fill"></span>
            <span nz-icon nzType="star" nzTheme="fill"></span>
            <span nz-icon nzType="star" nzTheme="fill"></span>
            <span nz-icon nzType="star" nzTheme="fill"></span>
            <span class="rating-text">4.5</span>
          </div>

          <div *ngFor="let tour of tours">
            <button (click)="viewDetails(tour._id)">
              View More Details
            </button>
          </div>


          <div class="cta">
            <button routerLink="../../booking/{{tour._id}}">Book Now</button>
          </div>
        </div>

      </div>

    </div>
    }

  </div>
</div>