<div class="container">
    <br>
    <br>
    <h3>Welcome to Space Ship Taxi & Tours</h3>
    <br>
    <br>
    <div id="image-container" style="display: flex; justify-content: center; align-items: center;">
        <img style="width: 400px; height: 400px;" src="https://tse1.mm.bing.net/th/id/OIP.4bVZw62rX340DxNH_qZzAAHaE8?rs=1&pid=ImgDetMain&o=7&rm=3" alt="">
    </div>
    <br>
    <br>
    <br>
    <p id="para1">Experience the thrill of interstellar travel 
        with Space Ship Taxi & Tours! We offer a range of 
        services to cater to your space travel needs. <br> Whether you're looking for
         a quick trip to the nearest star or a luxurious 
         tour of the galaxy, we've got you covered.</p>
        <br>
        <br>

    <p id="para2">Our fleet of state-of-the-art space ships is equipped with the latest technology 
        to ensure a safe and comfortable journey. <br>Our experienced pilots are 
        trained to navigate the complexities of space travel, 
        ensuring that you reach your destination smoothly and efficiently.</p>

        <br>
        <br>
    <p id="para3">At Space Ship Taxi & Tours, we are committed to providing exceptional customer service. Our team is available 24/    
     <br>
      <br>
     <br>
      <br>
<br>




    </div>