<div class="container">
    <h1 class="heading">Why with Space Ship Taxi?</h1>
    <div>
        

    </div>
    <div style="
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: rgba(0, 157, 255, 0.158); 
    ">

        <h2 class="heading">Reliable Rides, Anytime You Need Them</h2>

        <label style="
        padding-left: 40px; 
        padding-bottom: 20px; 
        padding-top: 20px;
        text-align: center;">


            We provide safe, comfortable, and dependable transportation tailored to your needs. <br> Whether you're heading
            to
            the airport, commuting to work, or exploring the island, our professional drivers are here to get you there
            on
            time every time.
            <br>

            Your destination is our priority.
        </label>

    </div>

</div>