<div class="container">

    <div class="filter-style">
        <div class="main-filters">
            <nz-date-picker nzPlaceHolder="Select Date" class="nz-date-picker" [(ngModel)]="date"
                (ngModelChange)="onChange($event)" />

            <button class="button" nz-button nz-Type="default">2 Adults</button>

            <button class="button" nz-button nz-Type="default" (click)="showModal()">Filters</button>

        </div>

        <div class="filter-options">
            @for (something of test; track something.label){
            <button class="button" nz-button nz-Type="default">{{something.label}}</button>
            }

        </div>

    </div>
</div>


<!--Extra Content-->


<nz-modal [(nzVisible)]="isVisible" nzTitle="Filters" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>

        <div>
            <h3>Languages</h3>
            <nz-radio-group [(ngModel)]="radioValue">
                @for (o of options; track o.value) {
                <label nz-radio [nzValue]="o.value">{{ o.label }}</label>
                }
            </nz-radio-group>
        </div>


        <div>
            Time
        </div>

        <label>Rating</label>
        <nz-rate [ngModel]="2" nzAllowHalf />

        <div>
            Duration

        </div>

        <div
            style="display: flex; flex-direction: row; width: 100%; border-bottom: 1px solid rgb(221, 221, 221); padding-bottom: 10px;">
            <label>Price</label>
            <nz-slider nzRange [nzStep]="5" [(ngModel)]="rangeValue" (ngModelChange)="onPriceSliderChange($event)"
                (nzOnAfterChange)="onAfterPriceSliderChange($event)" />

        </div>
    </ng-container>
</nz-modal>