<div class="container">

    <div class="filter-style">
        <div style="display: flex; flex-direction: row; margin-bottom: 20px;">
            <label>Search</label>
            <input nz-input class="search-box" type="text" placeholder="What are we filtering...?">
            <button nz-button [nzSize]="size" nzType="default" class="button">Submit</button>
        </div>


        <div>
            <div style="border-top: 1px solid rgba(198, 198, 198, 0.313); color: rgba(0, 0, 0, 0.468);">

                <p>Filter Type</p>

            </div>


            <nz-select nzMode="multiple" nzPlaceHolder="Please select" style="width: 300px; margin-bottom: 20px;" [nzOptions]="listOfOption"
                [(ngModel)]="listOfSelectedValue" />
        </div>

        <div style="display: flex; flex-direction: row; width: 100%;">
            <label>Price</label>
            <nz-row nzGutter="8">
                <nz-col nzSpan="12">
                    <nz-slider [nzMin]="1" [nzMax]="20" [(ngModel)]="value1" />
                </nz-col>
                <div nz-col nzSpan="4">
                    <nz-input-number [nzMin]="1" [nzMax]="20" [(ngModel)]="value1" />
                </div>
            </nz-row>

        </div>


        <div>
            <label>Ratings</label>
        </div>

        <div class="card">

        </div>
    </div>
</div>