<div class="container">
  <div class="form">

    <!--This is the header-->
    <div style="border-bottom: 2px solid rgb(229, 229, 229); padding: 20px 20px 20px 20px;">
      <h1>Form</h1>
    </div>


    <!-- Form Content-->
    <div class="form-content">

      <h2>Name</h2>

      <div class="form-item">

        <div style="display: flex; flex-direction: column;">
          <input nz-input type="text" class="input">
          <label class="form-label">First Name</label>

        </div>

        <div style="margin-left: 40px; display: flex; flex-direction: column;">
          <input nz-input type="text" class="input">
          <label class="form-label">Last Name</label>

        </div>

      </div>

      <div class="form-item">

        <label class="form-label">Email</label>
        <input nz-input type="text" class="input-email" placeholder="ex: example@gmail.com">

      </div>

      <div class="form-item">

        <label class="form-label">Phone number</label>
        <input nz-input type="text" class="input" placeholder="(000) 000-000">

      </div>

      <button class="submit-button">Submit</button>

    </div>


  </div>


</div>


<div class="booking-form-container">

  <h1>Book Your Next Journey</h1>
  <p>Fill out the form below to book your next tour with us. We look forward to providing you with an unforgettable
    experience!</p>
  <!-- <form (ngSubmit)="onSubmit()" #bookingForm="ngForm">



    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="tel" id="phone" [(ngModel)]="form.phone" required>
    </div>


    <div class="form-group">
      <label for="date">Date:</label>
      <input type="date" id="date" [(ngModel)]="form.date" required>
    </div>
    
    <div class="form-group">
      <label for="time">Time:</label>
      <input type="time" id="time" [(ngModel)]="form.time" required>
    </div>

    <div class="form-group">
      <label for="passengers">Passengers:</label>
      <input type="number" id="passengers" [(ngModel)]="form.passengers" min="1" required>
    </div>
    
    <div class="form-group">
      <label for="serviceType">Service Type:</label>
      <select id="serviceType" name="serviceType" [(ngModel)]="form.serviceType" required (change)="onServiceTypeChange($event)">
        <option value="">Select a service type</option>
        <option value="city-tour">Tour</option>
        <option value="nature-tour">Taxi Service</option>
      </select>
    </div>
    <div class="form-group" *ngIf="form.serviceType === 'tour'">
      <label for="tourType">Tour Type:</label>
      <select id="tourType" name="tourType" [(ngModel)]="form.tourType" required>
        <option value="">Select a Tour</option>
        <option value="half-day tour">Half-Day Tour</option>
        <option value="full-day tour">Full-Day Tour</option>
        <option value="custom-tour">Custom Tour</option>
      </select>
    </div>

    <div class="form-group" *ngIf="form.serviceType === 'taxi'">
      <label for="taxiType">Taxi Type:</label>
      <select id="taxiType" name="taxiType" [(ngModel)]="form.taxiType" required>
        <option value="">Select a taxi type</option>
        <option value="vip airport transfer">Vip Airport Transfer</option>
        <option value="stingraycity">Stingray City</option>
        <option value="resturant">Restaurant</option>
      </select>

      <button type="submit" [disabled]="!bookingForm.form.valid">Submit</button>
    </div>

    </form>

    <p *ngIf="submissionSuccess" class="success-message">{{ successMessage }}</p>
    <p *ngIf="submissionError" class="error-message">{{ errorMessage }}</p>     -->

</div>