<div class="container">
  <div class="form">

    <!--This is the header-->
    <div style="border-bottom: 2px solid rgb(229, 229, 229); padding: 20px 20px 20px 20px;">
      <h1>Form</h1>
    </div>


    <!-- Form Content-->
    <div class="form-content">

      <h2>Name</h2>

      <div class="form-item">

        <div style="display: flex; flex-direction: column;">
          <input nz-input type="text" [(ngModel)]="firstname" class="input">
          <label class="form-label">First Name</label>

        </div>

        <div class="left">
          <input nz-input type="text" [(ngModel)]="lastname" class="input">
          <label class="form-label">Last Name</label>

        </div>

      </div>

      <div class="form-item">

        <label class="form-label">Email</label>
        <input nz-input type="text" [(ngModel)]="email" class="input-email" placeholder="ex: example@gmail.com">

      </div>

      <div class="form-item">

        <label class="form-label">Phone number</label>
        <input nz-input type="text" class="input" [(ngModel)]="phone" placeholder="(000) 000-000">

      </div>

      <div class="form-item">
        <label class="form-label">Desired Booking Date & Time</label>
        <nz-date-picker [nzRenderExtraFooter]="plainFooter" [(ngModel)]="date" nzShowTime />
      </div>

      <div class="form-item">
        <label class="form-label">Passenger(s)</label>
        <input type="number" class="form-label-int" min="1" [(ngModel)]="passengers" placeholder="1">

      </div>

      <div class="form-item">
        <label class="form-label">Service Type</label>

        <nz-select [ngModel]="serviceType" (ngModelChange)="onServiceTypeChange($event)">
          <nz-option nzValue="default" nzLabel="Select a service type" />
          <nz-option nzValue="Tour" nzLabel="Tour" />
          <nz-option nzValue="Taxi" nzLabel="Taxi" />
        </nz-select>

      </div>

      @if (serviceType == "default") {

      } @else if(serviceType == "Taxi") {
      <div class="form-item">
        <label class="form-label">Taxi Type</label>


        <nz-select [ngModel]="taxiType" (ngModelChange)="onTaxiTypeChange($event)">
          <nz-option nzValue="default" nzLabel="Select a taxi type" />
          <nz-option nzValue="Vip Airport Transfer" nzLabel="Vip Airport Transfer" />
          <nz-option nzValue="Vip Airport Transfer" nzLabel="Vip Airport Transfer" />
          <nz-option nzValue="Restaurant" nzLabel="Restaurant" />
        </nz-select>

      </div>

      } @else {

      <div class="form-item">
        <label class="form-label">Tour Type</label>

        <nz-select [(ngModel)]="tourType" (ngModelChange)="onTourTypeChange($event)">
          <nz-option nzValue="default" nzLabel="Select a Tour" />
          <nz-option nzValue="Half-Day Tour" nzLabel="Half-Day Tour" />
          <nz-option nzValue="Full-Day Tour" nzLabel="Full-Day Tour" />
          <nz-option nzValue="Custom Tour" nzLabel="Custom Tour" />
        </nz-select>
      </div>
      }




      <button class="submit-button" (click)="onSubmit()">Submit</button>
    </div>


  </div>


</div>


<div class="booking-form-container">

  <h1>Book Your Next Journey</h1>
  <p>Fill out the form below to book your next tour with us. We look forward to providing you with an unforgettable
    experience!</p>

</div>



<div class="card flex justify-center">
  <p-toast />
</div>