nz-date-picker, nz-range-picker {
    margin: 0 8px 12px 0;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form {
    margin: 20px 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: fit-content;

    border-radius: 4px;
}

.form-content {
    padding: 20px 20px 20px 20px;
}

.form-label-int {
    width: 60px;
}

.booking-form-container {
    max-width: 500px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #f0f8ff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.form-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 20px;
}

.form-label {
    margin-right: 10px;
    font-size: 16px;
}

input,
select {
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: fit-content;
    height: 40px;
}

.input-email {
    width: 400px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {

    background-color: #0667cf;
}

button:disabled {
    background-color: #28a745;
    cursor: not-allowed;
    margin-top: 15px;
}

.success-message {
    margin-top: 20px;
    color: green;
    font-weight: bold;
    text-align: center;
}

.error-message {
    margin-top: 20px;
    color: red;
    font-weight: bold;
    text-align: center;
}