.Navigation {
    user-select: none;

    transition: 0.5s;
    display: flex;
    flex-direction: row;

    position: fixed;
    top: 0;
    z-index: 3;

    justify-content: space-between;

    padding: 20px 0px 20px 0px;
    width: 100%;

    animation: nav-transition;
    animation-timeline: scroll(y);


}

@keyframes nav-transition {
    1% {
        color: rgba(255, 255, 255, 0.525);
    }

    6% {
        background-color: rgb(255, 255, 255);
        color: #333333;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    100% {
        color: #000000;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    }

}


.section {
    display: flex;
    flex-direction: row;
    align-items: baseline;

}

.nav-input-search {
    transition: 0.5s;

    border-radius: 24px;
    height: 40px;
    width: 250px;
    font-size: 120%;

    padding-left: 40px;

    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.304);
}

.nav-input-search:focus {
    transition: 0.5s;

    width: 500px;
    font-size: 120%;

    padding-left: 40px;

    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.304);
}

.icon {
    position: relative;
    left: 30px;
    z-index: 3;
    color: white
}

.nav-label {
    color: rgba(255, 255, 255, 0.607);

    transition: 0.5s;
    cursor: pointer;
    font-weight: 400;

    border-radius: 20px;

    padding-left: 15px;
    padding-right: 15px;

    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;

    animation: nav-label-transition;
    animation-timeline: scroll(y);

    font-family: monospace
}

@keyframes nav-label-transition {
    0% {
        color: rgba(255, 255, 255, 0.607);
    }

    10% {
        color: #232323;
    }

    100% {
        color: #000000;

    }

}

.nav-label:hover {
    animation: none;
    color: #2aa3ff;
    transition: 0.5s;

}


@media only screen and (max-width: 900px) {
    .section {
        display: flexbox;
        flex-direction: column;
        width: 100%;
    }

}