h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.thumbnail-layout {
    display: grid;

    gap: 5px;
    grid-template-areas:
        "pic1 pic2"
        "pic1 pic3"
        ;

    width: fit-content;
}

.img {
    width: 100%;
    object-fit: cover;
    grid-area: pic1;
    height: 402px;
}

.img-topleft {
    object-fit: cover;
    grid-area: pic2;

    width: 350px;
    height: 200px;
}

.img-bottomright {
    object-fit: cover;
    grid-area: pic3;

    width: 350px;
    height: 200px;

    margin-right: 20px;

}

.card {

    border: 1px solid rgb(231, 231, 231);

    border-radius: 9px;

    width: 300px;
    height: 200px;
}

.btn {

    cursor: pointer;
    text-align: center;

    margin-left: 15%;

    color: white;

    border: none;
    border-radius: 20px;
    background-color: rgb(0, 132, 255);
    width: 70%;
    height: 30px;
    
    transition: 0.5s;
}

.btn:hover {
    transition: 0.5s;

    cursor: pointer;
    text-align: center;

    margin-left: 15%;

    color: white;

    border: none;
    border-radius: 20px;
    background-color: rgb(1, 112, 216);
    width: 70%;
    height: 30px;
}