<div class="container">
    <div class="item">
        <label>Rights reserved for copyright</label>
        <label>Rights reserved for copyright</label>
        <label>Rights reserved for copyright</label>
    </div>

    <div class="item">
        <label>Rights reserved for copyright</label>
        <label>Rights reserved for copyright</label>
        <label>Rights reserved for copyright</label>
    </div>

    <div class="item">
        <label>Rights reserved for copyright</label>
        <label>Rights reserved for copyright</label>
        <label>Rights reserved for copyright</label>
        
        

    </div>

    

</div>
