<footer class="footer">
    <div class="footer-container">

        <div class="footer-section">  
            <h3>Space Ship Taxi & Tours</h3>
            <p> The best service on island </p>
            <p> We are committed to providing </p>
                <p>exceptional customer service</p>
        </div>

        <div class="footer-section">
            <h3>Contact Us</h3>
            <p>Email: info@spaceshiptaxi.com</p>
        </div>

        <div class="footer-section">
            <h3>Follow Us</h3>
            <p>Facebook: @spaceshiptaxi</p>
            <p>Twitter: @spaceshiptaxi</p>
            <p>Instagram: @spaceshiptaxi</p>
        </div>
        
        <div class="footer-section">
            <h3>Legal</h3>
            <p>Terms of Service</p>
            <p>Privacy Policy</p>

        </div>  
        
        <div class="footer-bottom">
            <p>&copy; 2026 Space Ship Taxi & Tours. All rights reserved.</p>

            <div class="social-icons">
                <a href="https://www.facebook.com/share/18K6wGo7tn/?mibextid=wwXIfr"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/spaceship.taxi_tours?igsh=MXRiczY5bzViajZjdA%3D%3D&utm_source=qr"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>


    </div> 
</footer>
