@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-left,
  .footer-right {
    flex-direction: column;
    text-align: left;
  }
}


.footer {
  background: #01154a;
  background: linear-gradient(180deg, rgba(1, 21, 74, 1) 0%, rgba(4, 5, 43, 1) 100%);

  color: rgb(207, 207, 207);
  padding: 20px;
}

.footer-ico {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

.footer-left,
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.footer-section {
  width: 250px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.link {
  padding-bottom: 10px;
  border-bottom: 1px rgba(216, 216, 216, 0.459) solid;
}


.footer-section p:hover {
  color: white;

}

.link-line {
  width: 17%;
  border-bottom: 3px rgb(13, 107, 228) solid;
  line-height: 1;
  margin-bottom: 15px;
}


.contact-bubble-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;

}

.contact-bubble {
  display: flex;
  justify-content: center;

  background-color: rgba(79, 101, 116, 0.436);
  width: 40px;
  height: 40px;

  border-radius: 30px;
}

.contact-bubble-label {
  margin-left: 10px;
}

.footer-section h3 {
  font-style: oblique;
  color: rgb(255, 255, 255);

}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-top: 1px rgba(216, 216, 216, 0.459) solid;


  padding-top: 40px;
  margin-top: 50px;

}

footer-right {
  text-align: right;
}

.social-icons {
  display: flex;
  margin-top: 10px;
}

.social-icons i {
  margin: 0 10px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
}

.social-icons i:hover {
  color: rgb(144, 127, 19);
}