<div class="Navigation">
    <div class="section">
        <h2 class="nav-label" routerLink="/home">Home</h2>
        <h2 class="nav-label" routerLink="/tours">Tours</h2>
        
    

        <span style="display: flex; flex-direction: row;">
            <span nz-icon nzType="search" class="icon" nzTheme="outline"></span>
            <input nz-input class="nav-input-search" placeholder="Search Here..." type="text">
        </span>


        <h2 class="nav-label" routerLink="/taxi">Taxi Service</h2>
        <h2 class="nav-label" routerLink="/contact">Contact</h2>
       <h2 class="nav-label" routerLink="/about">About Us</h2>
        <h2 class="nav-label" routerLink="/chat">Chat</h2>
    </div>

    <div>

    </div>

</div>